/*
/*/*

!.gitignore
!README.md
!LICENSE.md
!example.qmd
!update_plugin.sh
!audio-slideshow.Rproj
!_extensions/
!_extensions/audio-slideshow
!_extensions/audio-slideshow/_extension.yml
!_extensions/audio-slideshow/plugin.js
!_extensions/audio-slideshow/recorder.js
!_extensions/audio-slideshow/RecordRTC.js

example_files
example.html
audio
